{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="text-center d-flex justify-content-center mt-5">

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-signin w-25 " action="{{ path('login') }}" method="post">
            <img class="mb-4" src="{{ asset('assets/images/icon.svg') }}" alt="Tête remplie de questions" width="72" height="72">
            <h2 class="h2 mb-3 font-weight-normal">Connexion</h2>

            <label for="username" class="sr-only">Pseudo:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Votre pseudo ou mail" required="required" autofocus="autofocus"/>

            <label for="password" class="sr-only">Mot de Passe:</label>
            <input type="password" id="password" name="_password" class="form-control mb-3" placeholder="Mot de Passe" required="required"/>

            <div class="my-3">
                <input id="ckb1" type="checkbox" name="_remember_me">
                <label for="ckb1">Se souvenir de moi</label>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Se connecter</button>
        </form>
    </div>

    <div class="text-center w-full pt-5">
        <span>Pas encore membre ?</span>
        <a href="{{ path('user_new') }}">Inscris-toi!</a>
    </div>
{% endblock %}

{# <div class="text-center w-full p-t-42 p-b-22">
    <span class="txt1">
        Ou connectez-vous via :
    </span>
</div>

<a href="#" class="btn-face m-l-r-auto">
    <i class="fab fa-facebook-square"></i>
    Facebook
</a>
 #}
