<div class="main-nav-container">
	<div class="card">
		<a href="{{ path('moderator_user_list') }}">
			<div class="card-body">
				<h5 class="card-title">Les membres</h5>
				<p class="card-text">Gestion et affichage de tous les membres</p>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('moderator_event_list') }}">
			<div class="card-body">
				<h5 class="card-title">Les événements</h5>
				<p class="card-text">Gestion et affichage de tous les événements</p>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('moderator_tag_list') }}">
			<div class="card-body">
				<h5 class="card-title">Les tags</h5>
				<p class="card-text">Gestion et affichage de tous les tags</p>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('moderator_comment_list') }}">
			<div class="card-body">
				<h5 class="card-title">Les commentaires</h5>
				<p class="card-text">Gestion et affichage de tous les commentaires</p>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('moderator_report_last') }}">
			<div class="card-body">
				<h5 class="card-title">Les derniers rapports en date</h5>
				<p class="card-text">Gestion et affichage de tous les rapports</p>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="{{ path('moderator_region_list') }}">
			<div class="card-body">
				<h5 class="card-title">Les régions</h5>
				<p class="card-text">Gestion et affichage des régions</p>
			</div>
		</a>
	</div>
</div>
