{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/registration.css') }}">
{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="d-flex justify-content-center my-2">
        <img src="{{ asset('assets/images/registration/h1.png') }}">
        <h1 class="h1">Modification</h1>
    </div>

    {{ include('user/_form.html.twig', {'button_label' : 'Mettre à jour'}) }}

{% endblock %}

{% block javascript %}
    <script>
        function miniature(fileInput, prev) {

            function creationImage(file, prev, i) {
                if (prev.getElementsByTagName('img').length == i) {

                    function creationBalise() {
                        // Clean style (border et backgroundImage)
                        prev.style.background = 'url()';
                        prev.style.border = 'none';
                        prev.style.boxShadow = 'none';

                        var imgElement = document.createElement('img');
                        // imgElement.style.maxWidth = '100%';
                        imgElement.style.maxHeight = '100%';
                        imgElement.src = this.result;
                        prev.appendChild(imgElement);
                    }
                    var reader = new FileReader();
                    reader.addEventListener('load', creationBalise);
                    reader.readAsDataURL(file);
                } else {
                    var timer = setTimeout(function () {
                        creationImage(file, prev, i);
                    }, 250);
                }
            }

            var allowedTypes = ['png', 'jpg', 'jpeg', 'gif'];
            var nomFiles = [];
            var files = fileInput.files;
            var filesLen = files.length;
            var imgType;

            for (var i = 0; i < filesLen; i++) {
                nomFiles.push(files[i].name);
                imgType = files[i].name.split('.');
                imgType = imgType[imgType.length - 1];
                if (allowedTypes.indexOf(imgType) != -1) {
                    creationImage(files[i], prev, i);
                }
            }
        }

        document.getElementById('user_avatar').addEventListener('change', function () {
            var fileInput = document.getElementById('user_avatar');
            var prev = document.getElementById('avatar-look');
            miniature(fileInput, prev);
        }, false);
    </script>
{% endblock %}