{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/registration.css') }}">
{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    {{form_start(form) }}
        <div class="d-flex justify-content-center my-2">
            <img src="{{ asset('assets/images/registration/h1.png') }}">
            <h1 class="h1">Inscription</h1>
        </div>

        <div class="my-1">
            <fieldset class="border border-light p-1 px-3">
                <legend class="h4">Détail du compte</legend>
                <div class="d-flex">
                    <div class="w-50 p-1">
                        {{ form_row(form.username) }}
                        {{form_row(form.email)}}
                    </div>
                    <div class="w-50 p-1">
                        {{ form_row(form.password) }}    
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="d-flex">
            <div class="w-50 mr-1">
                <fieldset class="border border-light p-1 px-3 my-1">
                    <legend class="h4">Détail personnels</legend>
                    <div>
                        {{form_row(form.lastname)}}
                        {{form_row(form.firstname)}}
                        {{form_row(form.address)}}
                        <div class="d-flex">
                            <div class="w-25">
                                {{form_row(form.zipcode)}}
                            </div>
                            <div class="w-75 ml-1">
                                {{form_row(form.city)}}
                            </div>
                        </div>
                        {{form_row(form.department)}}
                    </div>
                </fieldset>

                <fieldset class="border border-light p-1 px-3 my-1">
                    <legend class="h4">Conditions et envoi</legend>
                    <div class="conditions">
                        <a href="TODO">Voir les conditions</a>
                    </div>
                    <div class="agreement">
                        {{form_row(form.validConditions)}}
                    </div>
                    <div class="agreement">
                        {{form_row(form.isMailing)}}
                    </div>
                </fieldset>
            </div>
            
            <div class="w-50 ml-1">
                <fieldset class="border border-light p-1 px-3 my-1">
                    <legend class="h4">Information supplémentaires</legend>
                    <div class="d-flex justify-content-around">
                        <div>
                            {{form_row(form.genre)}}
                        </div>
                        <div>
                            {{form_row(form.birthDate)}}
                        </div>
                    </div>
                </fieldset>
                
                <fieldset class="border border-light p-1 px-3 my-1">
                    <legend class="h4">Bonus</legend>
                    <div>
                        {{form_row(form.avatar)}}
                    </div>
                    <div id="avatar-look" class="mb-1"></div>
                </fieldset>

                <div class="text-center">
                    <button class="button">S'inscrire &raquo;</button>
                </div>  
            </div>
        </div>


    {{ form_end(form) }}

{% endblock %}

{% block javascript %}
    <script>
        function miniature(fileInput, prev) {

            function creationImage(file, prev, i) {
                if (prev.getElementsByTagName('img').length == i) {
                        
                    function creationBalise() {
                        // Clean style (border et backgroundImage)
                        prev.style.background = 'url()';
                        prev.style.border =  'none';
                        prev.style.boxShadow = 'none';
                        
                        var imgElement = document.createElement('img');
                       // imgElement.style.maxWidth = '100%';
                        imgElement.style.maxHeight = '100%';
                        imgElement.src = this.result;
                        prev.appendChild(imgElement);
                    }
                    var reader = new FileReader();
                    reader.addEventListener('load', creationBalise);
                    reader.readAsDataURL(file);
                }
                else {
                    var timer = setTimeout(function () { creationImage(file, prev, i); }, 250);
                }
            }

            var allowedTypes = ['png', 'jpg', 'jpeg', 'gif'];
            var nomFiles = [];
            var files = fileInput.files;
            var filesLen = files.length;
            var imgType;

            for (var i = 0; i < filesLen; i++) {
                nomFiles.push(files[i].name);
                imgType = files[i].name.split('.');
                imgType = imgType[imgType.length - 1];
                if (allowedTypes.indexOf(imgType) != -1) {
                    creationImage(files[i], prev, i);
                }
            }
        }

        document.getElementById('user_avatar').addEventListener('change', function () {
            var fileInput = document.getElementById('user_avatar');
            var prev = document.getElementById('avatar-look');
            miniature(fileInput, prev);
        }, false);

    </script>
{% endblock %}